
:root {
    --color-white: #eeeeee;
    --color-secondary: #0f0;
    --color-tertiary: #00f;
}

main {
    color: var(--color-black);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1em;
}